@platform:registry=https://cignium.myget.org/F/react-components/npm/ 
@platformuxui:registry=https://cignium.myget.org/F/uxui/npm/

always-auth=true
legacy-peer-deps=true

//cignium.myget.org/F/react-components/npm/:_authToken=bf7e9307-02b2-4d7b-ba23-1058da44961e
//cignium.myget.org/F/uxui/npm/:_authToken=bf7e9307-02b2-4d7b-ba23-1058da44961e